.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-xs) var(--space-md);
  border: 1px solid hsl(0 0% 100% / 0.2);
  width: min(100%, 28rem);
  margin-inline: auto;
  background-color: hsl(var(--clr-neutral-400));

  @media (min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--space-base);
  }
}

.label {
  font-size: var(--fs-stats-label);
  font-weight: var(--fw-bold);
  letter-spacing: 0.04544rem;
  text-transform: uppercase;
  opacity: 0.5;
}

.stat {
  font-size: var(--fs-stats-content);
  font-family: var(--ff-heading);
  letter-spacing: -0.04688rem;
  text-transform: uppercase;
}
