.wrapper {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--space-3xl);
    padding-inline: var(--space-xl);
    grid-template-areas:
      'image image'
      'content tabs'
      'stats stats';
  }

  @media (min-width: 980px) {
    grid-template-columns: 1fr 22rem;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'image content'
      'image tabs'
      'stats stats';
    width: min(100%, 70rem);
    margin-inline: auto;
    flex-grow: 1;
    padding-block-start: var(--space-lg);
  }
}

.img {
  position: relative;
  z-index: -1;
  height: 19rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: calc(var(--planet-scale) / 100 * 13%);
  }
  .surface {
    position: absolute;
    height: 6rem;
    top: 60%;
  }

  @media (min-width: 768px) {
    grid-area: image;
    height: 29rem;

    .surface {
      height: 7rem;
    }
  }

  @media (min-width: 980px) {
    height: 32rem;
    img {
      max-height: calc(var(--planet-scale) / 100 * 16%);
    }
    .surface {
      height: 8rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--space-md);

  h1 {
    font-size: var(--fs-title);
    font-family: var(--ff-heading);
    font-weight: var(--fw-normal);
    line-height: var(--lh-sm);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: var(--space-md);
  }

  p {
    font-size: var(--fs-body);
    font-weight: var(--fw-normal);
    color: hsl(var(--clr-neutral-100) / 0.75);
    text-align: center;
    margin-bottom: var(--space-lg);
    max-width: 50ch;
  }

  @media (min-width: 768px) {
    grid-area: content;
    align-items: flex-start;
    padding-inline: 0;

    h1,
    p {
      text-align: start;
    }
  }

  @media (min-width: 980px) {
    margin-bottom: var(--space-lg);
  }
}

.stats {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-block: var(--space-lg);
  padding-inline: var(--space-md);
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    grid-area: stats;
    padding-inline: 0;

    & > * {
      flex: 1;
    }
  }

  @media (min-width: 980px) {
    margin-block: var(--space-xl);
    gap: var(--space-md);
  }
}
