.wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  font-size: var(--fs-source);

  & > span {
    opacity: 0.5;
  }

  a {
    color: hsl(var(--clr-neutral-100) / 0.5);
    transition: color 150ms linear;
    display: flex;
    align-items: center;
    gap: var(--space-2xs);

    &:hover {
      color: hsl(var(--clr-neutral-100) / 1);
    }

    svg {
      width: 0.75rem;
    }
  }
}
